body {
  margin: 0;
  padding: 0;
}
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 30px;
  background-color: rgb(239, 239, 247);
}
.main-heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.counter-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
