.counter-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #f2ead3;
  border-radius: 10px;
  color: #344f1f;
  gap: 10px;

  padding: 40px;
  flex: 1;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.counter-box div {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
h2 {
  align-self: center;
  margin: 0;
}
p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 60px;
  border-radius: 10px;
  background-color: #fff;
  color: black;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 30px;
  align-self: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.button {
  padding: 6px 12px;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  font-size: 20px;
}
.increase {
  background-color: #59ac77;
}
.decrease {
  background-color: #b45253;
}
.reset {
  background-color: #f4991a;
}
